.button
{
    font-size: 13px;
    font-weight: bold;
    line-height: 56px;

    padding: 0 45px;

    cursor: pointer;
    text-transform: uppercase;

    color: #fff;
    border: 0;
    border-radius: 28px;
    background: linear-gradient(to right, #61cfc6 0%, #3669cc 100%);
    box-shadow: 0 10px 50px rgba(3, 5, 32, 0.75);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
