.header
{
    display: flex;

    justify-content: space-between;
}

.header__logo
{
    width: 100px;
    height: 85px;

    background: url(logo.png) 50% 50% no-repeat;
    background-size: auto 100%;
}

.header__contacts
{
    font-size: 18px;
    font-weight: bold;
    line-height: normal;

    padding: 10px 0 0;
}

.header .link
{
    margin-left: 38px;

    text-decoration: none;

    color: #fff;
}

.header .link:hover
{
    text-decoration: underline;
}
