.sections
{
    position: relative;
}

.sections__next
{
    position: absolute;
    right: 0;
    bottom: 45px;
    left: 0;

    width: 150px;
    height: 100px;
    margin: auto;

    cursor: pointer;

    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.sections__next:hover
{
    animation: sections__next 1.5s infinite linear;
}

.sections__next_light
{
    background-image: url(sections__next_light.png);
}

.sections__up
{
    position: absolute !important;
    bottom: 75px;
    left: 100px;

    width: 68px;
    height: 68px;

    cursor: pointer;
    transition: background 0.3s linear;

    border-radius: 50%;
    background: #fff url(sections_up.png) 50% 50% no-repeat;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.sections__up:hover
{
    background-color: #ddd;
}

@keyframes sections__next
{
    0%
    {
        background-position: 50% 50%;
    }
    25%
    {
        background-position: 50% 70%;
    }
    75%
    {
        background-position: 50% 30%;
    }
    100%
    {
        background-position: 50% 50%;
    }
}
